### REST API

# Ignore bundler config.
./api/.bundle

# Ignore all logfiles and tempfiles.
./api/log/*
./api/tmp/*
!./api/log/.keep
!./api/tmp/.keep

# Ignore Byebug command history file.
./api/.byebug_history

# Ignore test coverage report
./api/coverage

### Client SPA

# dependencies
./client/node_modules

# testing
./client/coverage

# production
./client/build

# misc
./client/.env
./client/npm-debug.log*

